NEXT_PUBLIC_SUPABASE_URL = https://supabase.com/dashboard/project/pokfkxqvwlchmvrgmpra 
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_g7ASZDIgSQoY6i_uwBPtHg_YrmvWMfc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBva2ZreHF2d2xjaG12cmdtcHJhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTc5OTA2MywiZXhwIjoyMDk1Mzc1MDYzfQ.A17e3586XqIbgX18foWl5T1Gg-n7Cy5fYPVck4wWzcY
NEXT_PUBLIC_MAPBOX_TOKEN=
AI_DETECTOR_URL=http://localhost:8000
